{% extends "KodeBundle::layout.html.twig" %}

{% block title "Kode Game" %}

{% block content_note %}
<p>Place statements such as "left" and "up" into the empty numbered slots. Click "run" to have your character execute the program.</p>
{% endblock %}

{% block content %}
    <div id="kode_tiles">
        <table class="kode">
            <caption>Tiles</caption>
            <tr>
                {% for tile in ['right', 'left', 'up', 'down'] %}
                    <td id="tile_{{ tile }}" class="tile">{{ tile }}</td>
                {% endfor %}
                <td class="blank"></td>
                <th id="action_run" class="action">run</th>
            </tr>
        </table>
    </div>
    <div id="kode_board">
        <table class="kode">
            <caption>Board</caption>
            {% for r in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                <tr>
                    <th>{{ r }}.</th>
                    <td class="blank"></td>
                    {% for c in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9] %}
                        <td id="cell{{ r }}{{ c }}">
                            {% if r == 2 and c == 3 %}<div id="start">A</div>{% endif %}
                            {% if r == 5 and c == 7 %}<div id="end">B</div>{% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
jQuery(document).ready(function(){
	var $ = jQuery;
    var moves = 0;
	$('.tile', '#kode_tiles').click(function() {
        if (moves < 10) {
            $('th', '#kode_board').eq(moves).html(this.innerHTML);
            ++moves;
        }
	});
	$('#action_run').click(function() {
        $('th', '#kode_board').each(function (index, element) {
            switch($(this).text()) {
                case 'left':
                    alert('l');
                    break;
                default :

            }
        });
		$('#kode_board').append('<div class="tile">Kode Executed</div>');
	});
});
</script>
{% endblock %}