<!DOCTYPE html>
<!-- /ht Paul Irish - http://front.ie/j5OMXi -->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>{% block title %}Kode Game{% endblock %}</title>
<meta name="description" content="Kode Game">
<meta name="author" content="Svemir Brkic">

<!-- /ht Andy Clarke - http://front.ie/lkCwyf -->
<meta http-equiv="cleartype" content="on">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<!-- /ht Jeremy Keith - http://front.ie/mLXiaS -->
<link rel="stylesheet" href="{{ asset('bundles/kode/css/global.css') }}" media="all">
<link rel="stylesheet" href="{{ asset('bundles/kode/css/layout.css') }}" media="all and (min-width: 33.236em)">
<!-- 30em + (1.618em * 2) = 33.236em / Eliminates potential of horizontal scrolling in most cases -->
<!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" href="{{ asset('bundles/kode/css/layout.css') }}" media="all">
<![endif]-->
<link rel="stylesheet" href="{{ asset('bundles/kode/css/kode.css') }}"/>

<script src="{{ asset('bundles/kode/js/modernizr-1.7.min.js') }}"></script>
</head>
<body>
<div id="container" class="cf">
    <article>
        <header>
            <a href="{{ path('_play') }}">
                <h2>Play 2 Learn</h2>
            </a>
            <h1>Kode Game</h1>
        </header>

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <h3><em>Notice</em>: {{ flashMessage }}</h3>
        {% endfor %}

        <div id="main" role="main" class="cf">
            <aside>
            {% block content_note %}
            {% endblock %}
            </aside>

            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <footer class="cf">
            <p>Learn coding with Kode!</p>
        </footer>
    </article>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/kode/js/jquery.js') }}"></script>
{% endblock %}
</body>
</html>
